.titulo{
    text-align: center;
    font-size: 32px;
    color: #333;
    margin: 20px 0;
}
.lista-videogames{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  flex-wrap: wrap;
}
.cont-form{
  text-align: center;
  font-size: 32px;
  color: #333;
  margin: 20px 0;
}
.cont-form h2{
  text-align: center;
  font-size: 32px;
  color: #333;
  margin: 20px 0;
}
.input-container {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container label {
  font-size: 14px;
  color: #333;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
}

.input-container input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.4);
}
.name-exib{
  text-align: center;
  font-size: 32px;
  color: #333;
  margin: 20px 0;
}