.listaCards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  flex-wrap: wrap;
}
.lista-cavalos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  flex-wrap: wrap;
}
.lista-carros{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  flex-wrap: wrap;
}
.minha-imagem1{
  width: 70px
}
.minha-imagem2{
  width: 190px
}
.minha-imagem3{
  max-width: 100px;
  height: 100px;
}
.minha-imagem4{
  width: 130px;
  height: 80px
}
.minha-imagem5{
  width: 95px
}
.minha-imagem6{
  width: 160px
}
.minha-imagem7{
  width: 140px
}
.minha-imagem8{
  width: 130px
}